<a href="https://colab.research.google.com/github/BhaktidB/Machine-Learning/blob/main/movie_recommendation_system.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
movies = pd.read_csv('tmdb_5000_movies.csv')
edits = pd.read_csv('tmdb_5000_credits.csv')

In [ ]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [ ]:
edits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [ ]:
movies = movies.merge(edits,on='title')

In [ ]:
movies.shape

(1832, 23)

In [ ]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [ ]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1832 entries, 0 to 1831
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                1832 non-null   int64
 1   genres                1832 non-null   object
 2   homepage              818 non-null    object
 3   id                    1832 non-null   int64
 4   keywords              1832 non-null   object
 5   original_language     1832 non-null   object
 6   original_title        1832 non-null   object
 7   overview              1832 non-null   object
 8   popularity            1832 non-null   float64
 9   production_companies  1832 non-null   object
 10  production_countries  1832 non-null   object
 11  release_date          1832 non-null   object
 12  revenue               1832 non-null   int64
 13  runtime               1832 non-null   float64
 14  spoken_languages      1832 non-null   object
 15  status                1832 non-null   object
 16  tagline               1724 non-null   object
 17  title                 1832 non-null   object
 18  vote_average          1832 non-null   float64
 19  vote_count            1832 non-null   int64
 20  movie_id              1832 non-null   int64
 21  cast                  1832 non-null   object
 22  crew                  1831 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 343.5+ KB

In [ ]:
#content based filtering by creating tags
'''columns we want(factors involving in recommending)
genres
id
keywords
title
overview
cast
crew
'''

movies = movies[['movie_id','genres','keywords','title','overview','cast','crew']]

In [ ]:
#this will be our main data now 
movies.head()

,movie_id,genres,keywords,title,overview,cast,crew
0,19995,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",Spectre,A cryptic message from Bond’s past sends him o...,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",John Carter,"John Carter is a war-weary, former military ca...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [ ]:
#create tags=by combing columns which will help in recommending
#we will have to do preprocessing i.e. to make data in neat format, duplicate data to remove, and see if there is any missing data

movies.isnull().sum()
#we can see inn overview there are 3 data missing

movie_id    0
genres      0
keywords    0
title       0
overview    0
cast        0
crew        1
dtype: int64

In [ ]:
movies.dropna(inplace=True)
#this will drop that 3 rows(3 movies) having empty dataset(we did this because only 3 of these data were missing)

In [ ]:
movies.isnull().sum()

movie_id    0
genres      0
keywords    0
title       0
overview    0
cast        0
crew        0
dtype: int64

In [ ]:
movies.duplicated().sum()

0

In [ ]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [ ]:
#'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'
#we want ['Action','Adventure','Fantasy','Science Fiction']
#but the given genres is in string form we want it in list form

In [ ]:
#this library converts string into list
import ast
ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [ ]:
#helper function

def convert(obj):
  L = []
  for i in ast.literal_eval(obj):
    L.append(i['name'])
  return L

In [ ]:
movies['genres'] = movies['genres'].apply(convert)

In [ ]:
movies.head()

,movie_id,genres,keywords,title,overview,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,"[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,"[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",Spectre,A cryptic message from Bond’s past sends him o...,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,"[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,"[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",John Carter,"John Carter is a war-weary, former military ca...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [ ]:
movies['keywords'] = movies['keywords'].apply(convert)

In [ ]:
movies.head()

,movie_id,genres,keywords,title,overview,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...",Spectre,A cryptic message from Bond’s past sends him o...,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...",The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,"[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...",John Carter,"John Carter is a war-weary, former military ca...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [ ]:
#helper function

def convert(obj):
  L = []
  counter = 0
  for i in ast.literal_eval(obj):
    if counter != 3:  
      L.append(i['name'])
      counter +=1
    else:
      break  
  return L

In [ ]:
movies['cast'] = movies['cast'].apply(convert)

In [ ]:
movies.head()

,movie_id,genres,keywords,title,overview,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...",Spectre,A cryptic message from Bond’s past sends him o...,"[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...",The Dark Knight Rises,Following the death of District Attorney Harve...,"[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,"[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...",John Carter,"John Carter is a war-weary, former military ca...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [ ]:
def fetch_director(obj):
  L = []
  for i in ast.literal_eval(obj):
    if i['job'] == 'Director':
      L.append(i['name'])
      break
  return L

In [ ]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [ ]:
movies.head()

,movie_id,genres,keywords,title,overview,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...",Spectre,A cryptic message from Bond’s past sends him o...,"[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...",The Dark Knight Rises,Following the death of District Attorney Harve...,"[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,"[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...",John Carter,"John Carter is a war-weary, former military ca...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [ ]:
movies['overview'][0]
#this is string--- convert into list

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [ ]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [ ]:
'''
Sam Worthington ---> SamWorthington
(2 tags)              (1 tag)
'''
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['crew'] = movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [ ]:
movies.head()

,movie_id,genres,keywords,title,overview,cast,crew
0,19995,"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...",Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,"[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...",Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,"[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...",Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,49026,"[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...",The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,"[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...",John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [ ]:
movies['tags'] = movies['overview']+movies['genres']+movies['keywords']+movies['cast']+movies['crew']

In [ ]:
movies.head()

,movie_id,genres,keywords,title,overview,cast,crew,tags
0,19995,"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...",Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,"[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...",Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,"[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...",Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,"[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...",The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,49529,"[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...",John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [ ]:
new_df = movies[['movie_id','title','tags']]

In [ ]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [ ]:
new_df

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."
...,...,...,...
1826,254024,The Face of an Angel,"[Both, a, journalist, and, a, documentary, fil..."
1827,12589,Jimmy Neutron: Boy Genius,"[Jimmy, Neutron, is, a, boy, genius, and, way,..."
1828,7191,Cloverfield,"[Five, young, New, Yorkers, throw, their, frie..."
1829,1497,Teenage Mutant Ninja Turtles II: The Secret of...,"[The, Turtles, and, the, Shredder, battle, onc..."
1830,117,The Untouchables,"[Young, Treasury, Agent, Elliot, Ness, arrives..."

In [ ]:
#convert tags from list--->string
new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [ ]:
new_df['tags'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver JamesCameron'

In [ ]:
#convert tags into lowercase
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
new_df['tags'][0]

'in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action adventure fantasy sciencefiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d samworthington zoesaldana sigourneyweaver jamescameron'

In [ ]:
'''
text vectorization- bag of words (convert text to vector)
stop words-is are for (no meaning only used for sentence formation)---remove this words

'''
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')

In [ ]:
vectors=cv.fit_transform(new_df['tags']).toarray()

In [ ]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0])

In [ ]:
cv.get_feature_names()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['000',
 '007',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '150',
 '16',
 '16th',
 '17',
 '17th',
 '1863',
 '18th',
 '18thcentury',
 '19',
 '1920s',
 '1930s',
 '1940s',
 '1950s',
 '1960s',
 '1970s',
 '1972',
 '1980s',
 '1990s',
 '1995',
 '1999',
 '19th',
 '19thcentury',
 '20',
 '200',
 '2001',
 '20th',
 '21st',
 '22nd',
 '24',
 '25',
 '30',
 '300',
 '3d',
 '40',
 '50',
 '500',
 '51',
 '60',
 '60s',
 '70',
 'aaron',
 'aaroneckhart',
 'aarontaylor',
 'aba',
 'abandoned',
 'abigailbreslin',
 'abilities',
 'ability',
 'able',
 'aboard',
 'abrams',
 'abuse',
 'abused',
 'academy',
 'accept',
 'accepts',
 'access',
 'accident',
 'accidental',
 'accidentally',
 'accompanied',
 'accomplish',
 'accomplished',
 'account',
 'accountant',
 'accused',
 'ace',
 'act',
 'action',
 'actionhero',
 'actions',
 'activist',
 'activities',
 'activity',
 'actor',
 'actors',
 'actress',
 'acts',
 'actual',
 'actually',
 'adam',
 'adammckay',
 'adams',
 'adamsandler',
 'adamshankman',
 'adaptation',
 'addicted',
 'addiction',
 'addition',
 'adds',
 'admits',
 'adopt',
 'adopted',
 'adoption',
 'adoptivefather',
 'adopts',
 'adorable',
 'adrenaline',
 'adrienbrody',
 'adrift',
 'adult',
 'adultery',
 'adulthood',
 'advanced',
 'adventure',
 'adventures',
 'advertising',
 'advice',
 'affair',
 'affairs',
 'affections',
 'afghanistan',
 'afraid',
 'africa',
 'african',
 'aftercreditsstinger',
 'afterlife',
 'aftermath',
 'age',
 'aged',
 'agency',
 'agent',
 'agents',
 'aging',
 'ago',
 'agrees',
 'ahead',
 'aid',
 'aided',
 'aids',
 'ailing',
 'aim',
 'air',
 'airborne',
 'airplane',
 'airplanecrash',
 'airport',
 'aka',
 'al',
 'alaska',
 'albert',
 'albertfinney',
 'alcohol',
 'alcoholic',
 'alcoholism',
 'aldous',
 'alecbaldwin',
 'alex',
 'alexander',
 'alexandradaddario',
 'alexapenavega',
 'alexproyas',
 'alfie',
 'alfonsocuarón',
 'ali',
 'alice',
 'alicebraga',
 'alien',
 'alienattack',
 'aliencontact',
 'alieninvasion',
 'alienlife',
 'alienplanet',
 'aliens',
 'alike',
 'alilarter',
 'alive',
 'allegra',
 'allen',
 'alliance',
 'alliances',
 'allied',
 'allies',
 'allow',
 'allows',
 'ally',
 'almásy',
 'alongside',
 'alpacino',
 'alter',
 'altered',
 'alternate',
 'alternatehistory',
 'alternative',
 'alzheimer',
 'amandapeet',
 'amandaseyfried',
 'amazing',
 'amazon',
 'ambassador',
 'ambition',
 'ambitious',
 'ambulance',
 'ambush',
 'ambushed',
 'america',
 'american',
 'americanabroad',
 'americancivilwar',
 'americanfootball',
 'americanfootballplayer',
 'americans',
 'amid',
 'amidst',
 'amnesia',
 'amusement',
 'amusementpark',
 'amyadams',
 'anakin',
 'analyst',
 'ancient',
 'ancientegypt',
 'ancientgreece',
 'ancientworld',
 'anderson',
 'andrew',
 'andrewadamson',
 'andrewdavis',
 'andrewgarfield',
 'andrewniccol',
 'andrewstanton',
 'android',
 'andrzejbartkowiak',
 'andy',
 'andyserkis',
 'andytennant',
 'angel',
 'angelabassett',
 'angeles',
 'angelinajolie',
 'angels',
 'anger',
 'anglee',
 'angry',
 'animal',
 'animalattack',
 'animalhorror',
 'animals',
 'animated',
 'animation',
 'anjelicahuston',
 'anna',
 'annafaris',
 'anne',
 'annefletcher',
 'annehathaway',
 'annemoss',
 'annettebening',
 'annie',
 'annihilation',
 'annual',
 'answers',
 'ant',
 'anthony',
 'anthonyhopkins',
 'anthonymackie',
 'anthropomorphism',
 'anti',
 'antics',
 'antidote',
 'antihero',
 'antoinefuqua',
 'antoniobanderas',
 'antonyelchin',
 'apart',
 'apartheid',
 'apartment',
 'ape',
 'apes',
 'apocalypse',
 'apocalyptic',
 'apparent',
 'appearance',
 'appears',
 'apple',
 'appointed',
 'apprehend',
 'apprentice',
 'approached',
 'approaches',
 'approaching',
 'april',
 'arab',
 'arbitrarylaw',
 'arcade',
 'arch',
 'archaeologist',
 'archeology',
 'archer',
 'archery',
 'architect',
 'arctic',
 'arduous',
 'area',
 'aren',
 'arena',
 'argument',
 'arise',
 'aristocrat',
 'armed',
 'armiehammer',
 'armored',
 'arms',
 'armsdeal',
 'armsdealer',
 'army',
 'arnoldschwarzenegger',
 'arrest',
 'arrested',
 'arrival',
 'arrive',
 'arrived',
 'arrives',
 'arriving',
 'arrogant',
 'art',
 'arthur',
 'artificialintelligence',
 'artist',
 'arts',
 'asgard',
 'ashley',
 'ashleyjudd',
 'ashtonkutcher',
 'aside',
 'ask',
 'asked',
 'asking',
 'asks',
 'aspiring',
 'assassin',
 'assassinate',
 'assassination',
 'assassins',
 'assigned',
 'assignment',
 'assist',
 'assistant',
 'assumes',
 'asteroid',
 'astronaut',
 'astronauts',
 'athlete',
 'atlantic',
 'atomicbomb',
 'attack',
 'attacked',
 'attacks',
 'attempt',
 'attemptedmurder',
 'attempting',
 'attempts',
 'attending',
 'attention',
 'attitude',
 'attorney',
 'attraction',
 'audiences',
 'aunt',
 'austin',
 'australia',
 'author',
 'authorities',
 'authority',
 'autism',
 'auto',
 'automobileracing',
 'avenge',
 'average',
 'aviation',
 'avoid',
 'await',
 'awaits',
 'awakens',
 'award',
 'away',
 'awry',
 'babe',
 'baby',
 'bachelor',
 'backdrop',
 'backed',
 'background',
 'bad',
 'badly',
 'bail',
 'baker',
 'balance',
 'band',
 'bangkok',
 'banished',
 'bank',
 'banker',
 'bar',
 'barbrastreisand',
 'bargained',
 'barn',
 'barney',
 'barry',
 'barrylevinson',
 'barrysonnenfeld',
 'base',
 'baseball',
 'based',
 'basedonchildren',
 'basedoncomicbook',
 'basedonfairytale',
 'basedongraphicnovel',
 'basedonnovel',
 'basedonplay',
 'basedonstagemusical',
 'basedontrueevents',
 'basedontruestory',
 'basedontvseries',
 'basedonvideogame',
 'basedonyoungadultnovel',
 'basketball',
 'batman',
 'battle',
 'battlefield',
 'battles',
 'battling',
 'beach',
 'bear',
 'beard',
 'beast',
 'beasts',
 'beat',
 'beautiful',
 'beautifulwoman',
 'beauty',
 'becominganadult',
 'bed',
 'befriends',
 'began',
 'begin',
 'beginning',
 'begins',
 'beings',
 'beliefs',
 'believe',
 'believed',
 'believes',
 'bella',
 'bellas',
 'beloved',
 'ben',
 'benaffleck',
 'benfoster',
 'beniciodeltoro',
 'benjamin',
 'benjaminbratt',
 'benkingsley',
 'bennet',
 'benstiller',
 'bent',
 'berlin',
 'berniemac',
 'best',
 'bestfriend',
 'bet',
 'betrayal',
 'bettemidler',
 'better',
 'bettythomas',
 'bible',
 'big',
 'biggest',
 'biker',
 'bikini',
 'bilbo',
 'billhader',
 'billionaire',
 'billmurray',
 'billnighy',
 'billpaxton',
 'billpullman',
 'billy',
 'billybobthornton',
 'billycrystal',
 'biography',
 'bird',
 'birdee',
 'birth',
 'birthday',
 'bishop',
 'bit',
 'bite',
 'bitter',
 'bizarre',
 'black',
 'blackhole',
 'blackmagic',
 'blackmail',
 'blackpeople',
 'blade',
 'blart',
 'blind',
 'bliss',
 'blizzard',
 'blockbuster',
 'blood',
 'bloodthirsty',
 'blow',
 'blu',
 'blue',
 'blues',
 'blunt',
 'bly',
 'board',
 'boat',
 'boatchase',
 'bob',
 'bobby',
 'bobbyfarrelly',
 'body',
 'bodyguard',
 'bomb',
 'bomber',
 'bombing',
 'bond',
 'bone',
 'boo',
 'book',
 'books',
 'border',
 'bored',
 'boring',
 'born',
 'boss',
 'boston',
 'bound',
 'boundaries',
 'bounty',
 'bountyhunter',
 'bourne',
 'box',
 'boxer',
 'boxing',
 'boy',
 'boyd',
 'boyfriend',
 'boys',
 'bradbird',
 'bradleycooper',
 'bradpitt',
 'brain',
 'brand',
 'brave',
 'bravery',
 'break',
 'breaking',
 'breaks',
 'brendanfraser',
 'brendangleeson',
 'brentspiner',
 'brettratner',
 'brian',
 'briandepalma',
 'brianhelgeland',
 'brianlevant',
 'bride',
 'bridge',
 'bright',
 'brilliant',
 'bring',
 'bringing',
 'brings',
 'brink',
 'britain',
 'british',
 'britishsecretservice',
 'brittanymurphy',
 'broke',
 'broken',
 'brooklyn',
 'brooks',
 'broom',
 'brothel',
 'brother',
 'brotherbrotherrelationship',
 'brothers',
 'brothersisterrelationship',
 'brought',
 'brown',
 'bruce',
 'brucegreenwood',
 'brucewillis',
 'brutal',
 'brutality',
 'brutally',
 'bryan',
 'bryancranston',
 'bryansinger',
 'buddhistmonk',
 'buddy',
 'buddycomedy',
 'buddycop',
 'bugs',
 'build',
 'building',
 'built',
 'bully',
 'bumbling',
 'bunny',
 'burglar',
 'buried',
 'burned',
 'burton',
 'bus',
 'bush',
 'business',
 'businessman',
 'busy',
 'butler',
 'buy',
 'buzz',
 'cabin',
 'caesar',
 'cage',
 'caine',
 'cal',
 'california',
 'called',
 'calls',
 'calvin',
 'came',
 'camera',
 'cameroncrowe',
 'camerondiaz',
 'camp',
 'campaign',
 'campbell',
 'canadian',
 'cancer',
 'candidate',
 'canine',
 'cao',
 'capable',
 'capital',
 'capone',
 'capt',
 'captain',
 'captive',
 'capture',
 'captured',
 'car',
 'carchase',
 'carcrash',
 'card',
 'care',
 'career',
 'caribbean',
 'carjourney',
 'carl',
 'carlagugino',
 'carlossaldanha',
 'carmen',
 'carol',
 'carolina',
 'carrace',
 'carrie',
 'carrying',
 'cars',
 'cartel',
 'carter',
 'cartoon',
 'caryelwes',
 'casanova',
 'case',
 'cash',
 'casino',
 'cast',
 'castle',
 'cat',
 'cataclysm',
 'catastrophe',
 'catastrophic',
 'catch',
 'catches',
 'cateblanchett',
 'catherinekeener',
 'catherinezeta',
 'catholicism',
 'cattle',
 'catwoman',
 'caught',
 'cause',
 'caused',
 'causes',
 'causing',
 'cavalry',
 'cave',
 'cavemen',
 'celebrated',
 'celebration',
 'celebrities',
 'celebrity',
 'cellphone',
 'cemetery',
 'center',
 'centered',
 'centers',
 'central',
 'centuries',
 'century',
 'certain',
 'cgi',
 'chain',
 'challenge',
 'challenged',
 'challenges',
 'champion',
 'championship',
 'chance',
 'change',
 'changed',
 'changes',
 'changing',
 'channingtatum',
 'chaos',
 'character',
 'characters',
 'charge',
 'charged',
 'charles',
 'charless',
 'charlie',
 'charlieday',
 'charlizetheron',
 'charlotte',
 'charm',
 'charming',
 'chase',
 'chases',
 'chauffeur',
 'cheating',
 'chef',
 'chemical',
 'chest',
 'chicago',
 'chicken',
 'chief',
 'child',
 'childabuse',
 'childhero',
 'childhood',
 'childprodigy',
 'children',
 'chili',
 'chimp',
 'china',
 'chinese',
 'chip',
 'chipmunk',
 'chipmunks',
 'chloëgracemoretz',
 'choice',
 'choices',
 'chon',
 'choose',
 'chooses',
 'chosen',
 'chosenone',
 'chowyun',
 'chris',
 'chriscolumbus',
 'chrisevans',
 'chrishemsworth',
 'chrispine',
 'chrispratt',
 'chrisrock',
 'chrissanders',
 'christian',
 'christianbale',
 'christianity',
 'christinaapplegate',
 'christine',
 'christmas',
 'christmasparty',
 'christopher',
 'christopherlloyd',
 'christophernolan',
 'christopherplummer',
 'christopherwalken',
 'christophwaltz',
 'chriswedge',
 'chrisweitz',
 'chronicle',
 'chuck',
 'church',
 'cia',
 'cillianmurphy',
 'cinema',
 'circle',
 'circumstances',
 'circus',
 'cities',
 'citizens',
 'city',
 'civil',
 'civilian',
 'civilization',
 'civilwar',
 'claims',
 'claire',
 'clan',
 'clark',
 'clash',
 'class',
 'classes',
 'classic',
 'claudevandamme',
 'clean',
 'clear',
 'client',
 'clients',
 'climbing',
 'clinteastwood',
 'cliveowen',
 'clock',
 'clone',
 'cloning',
 'close',
 'closer',
 'club',
 'clue',
 'clues',
 'clutches',
 'coach',
 'cobra',
 'cocaine',
 'cocky',
 'code',
 'codes',
 'cody',
 'col',
 'cold',
 'coldwar',
 'cole',
 'colinfarrell',
 'collapses',
 'colleague',
 'collect',
 'collector',
 'college',
 'collide',
 'collins',
 'collision',
 'colombia',
 'colonel',
 'colony',
 'colorful',
 'coma',
 'combat',
 'come',
 'comeback',
 'comedy',
 'comes',
 'comet',
 'comic',
 'coming',
 'command',
 'commander',
 'commando',
 'commitment',
 'committed',
 'common',
 'community',
 'company',
 'compete',
 'competition',
 'complete',
 'completely',
 'complex',
 'complicated',
 'complications',
 'computer',
 'computerhacker',
 'computervirus',
 'conan',
 'concert',
 'condition',
 'confederate',
 'confidence',
 'confident',
 'conflict',
 'confront',
 'confronts',
 'congress',
 'congressman',
 'connection',
 'connell',
 'connienielsen',
 'connor',
 'conquer',
 'conquest',
 'conscience',
 'consequences',
 'conservative',
 'conspiracy',
 'conspiracyofmurder',
 'constantly',
 'construction',
 'consumed',
 'contact',
 'contain',
 'contest',
 'continue',
 'continues',
 'continuing',
 'contract',
 'control',
 'controlled',
 'controversial',
 'convict',
 'convicted',
 'convince',
 'convinced',
 'convinces',
 'cook',
 'cooking',
 'cool',
 'cop',
 'cops',
 'core',
 'corner',
 'corporate',
 'corporation',
 'corpse',
 'corrupt',
 'corruption',
 'cortez',
 'cost',
 'couldn',
 'count',
 'countdown',
 'countless',
 'country',
 'countrymusic',
 'countryside',
 'county',
 'coup',
 'coupd',
 'couple',
 'couples',
 'courage',
 'course',
 'court',
 'courtcase',
 'courteneycox',
 'courthouse',
 'courtroom',
 'cousin',
 'cover',
 'covert',
 'cow',
 'cowardliness',
 'cowboy',
 'crack',
 'crane',
 'crash',
 'crashes',
 'crashing',
 'crazy',
 'create',
 'created',
 'creates',
 'creator',
 'creature',
 'creatures',
 'crew',
 'crime',
 'crimefighter',
 'crimes',
 'criminal',
 'criminals',
 'crisis',
 'critters',
 'crooked',
 'cross',
 'crossed',
 'crosses',
 'crossroads',
 'crown',
 'cruel',
 'cruise',
 'crush',
 'cuba',
 'cubagoodingjr',
 'cullen',
 'cult',
 ...]

In [ ]:
'''
stemming means when different word having similar meaning are represented as single word
eg [loving,loved,love]----->after stemming [love,love,love] 
'''

'\nstemming means when different word having similar meaning are represented as single word\neg [loving,loved,love]----->after stemming [love,love,love] \n'

In [ ]:
import nltk

In [ ]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [ ]:
def stem(text):
  y=[]
  for i in text.split():
    y.append(ps.stem(i))
  return " ".join(y)

In [ ]:
ps.stem('loving')

'love'

In [ ]:
new_df['tags']=new_df['tags'].apply(stem)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
'''
4806 movies(vectors)---->5000numbers
we have to find distance from every movie.
distance jitna jyada hoga similarity utni kam hogi
cosine distance calculate (angle find karege--->jitna kam angle utna similar)
euclidean distance for higher dimensional is not suitable failure rate jyada hai
'''

'\n4806 movies(vectors)---->5000numbers\nwe have to find distance from every movie.\ndistance jitna jyada hoga similarity utni kam hogi\ncosine distance calculate (angle find karege--->jitna kam angle utna similar)\neuclidean distance for higher dimensional is not suitable failure rate jyada hai\n'

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
similarity=cosine_similarity(vectors)

In [ ]:
cosine_similarity(vectors).shape

(1831, 1831)

In [ ]:
similarity[0]

array([1.        , 0.08035074, 0.05437272, ..., 0.08924215, 0.11805627,
       0.        ])

In [ ]:
sorted(list(enumerate(similarity[0])), reverse=True, key=lambda x:x[1])[1:6]

[(539, 0.2410522128025111),
 (1192, 0.2330745053742094),
 (507, 0.22956556456066257),
 (1214, 0.2243232584059758),
 (1202, 0.21951219512195122)]

In [ ]:
'''
sorted in descending order on the basis of similarity keeping the indexing of movies same i.e.enumerating and converting them into tuples to retain it and then into list 
finally applying sorting and reversing it
1=most similar 
'''

'\nsorted in descending order on the basis of similarity keeping the indexing of movies same i.e.enumerating and converting them into tuples to retain it and then into list \nfinally applying sorting and reversing it\n1=most similar \n'

In [ ]:
def recommend(movie):
  movie_index = new_df[new_df['title']==movie].index[0]
  distances = similarity[movie_index]
  movies_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x:x[1])[1:6]

  for i in movies_list:
    print(new_df.iloc[i[0]].title)

In [ ]:
recommend('Avatar')

Titan A.E.
Small Soldiers
Independence Day
Aliens vs Predator: Requiem
Predators

In [ ]:
'''
litmus test
'''

'\nlitmus test\n'

In [ ]:
recommend('Batman Begins')

The Dark Knight
The Dark Knight Rises
Batman & Robin
Batman
Batman v Superman: Dawn of Justice

In [ ]:
new_df.iloc[1216].title

'Autumn in New York'

In [ ]:
import pickle

In [ ]:
pickle.dump(new_df,open('movies.pkl','wb'))